<!DOCTYPE html>
<html lang="en">
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="page-title">لیست انجام کارها</title>

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/proj.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="main-header">
        <div class="header-branding">
            <i class="fas fa-star" data-translatable="true" data-key="headerIcon"></i>
            <span data-translatable="true" data-key="headerTitle">لیست انجام کارهای من</span>
        </div>
        <div class="header-controls">
            <button id="language-toggle" title="تغییر زبان" data-current-lang="fa">
                <i class="fas fa-globe"></i> <span data-key="langBtnText">English</span>
            </button>
            <button id="theme-toggle" title="تغییر به حالت شب">
                <i class="fas fa-moon"></i> <span data-key="themeBtnText">حالت شب</span>
            </button>
        </div>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>